temp_folder="variables"

compartment_name="learn-spark"
compartment_description="Spark resources"

vcn_name="Spark virtual cloud network"
vcn_cidr="172.16.0.0/16"
vcn_internet_gateway_name="Internet Gateway"
vcn_nat_gateway_name="NAT Gateway"

vcn_public_security_list_name="Public subnet - security list"
vcn_public_security_list_egress='[{ "destination": "0.0.0.0/0", "destination-type": "CIDR_BLOCK", "is-stateless": false, "protocol": "all"}]'
vcn_public_security_list_ingress='[
{"is-stateless": false, "protocol": "6", "source": "0.0.0.0/0", "source-type": "CIDR_BLOCK", "tcp-options": {"destination-port-range": {"max": 22, "min": 22}}}, {"is-stateless": false, "protocol": "6", "source": "0.0.0.0/0", "source-type": "CIDR_BLOCK", "tcp-options": {"destination-port-range": {"max": 8889, "min": 8888}}}, { "icmp-options": {"code": 4, "type": 3}, "is-stateless": false, "protocol": "1", "source": "0.0.0.0/0", "source-type": "CIDR_BLOCK"}]'
vcn_public_security_list_ids='["ID"]'
vcn_public_route_table_name="Public subnet - route table"
vcn_public_route_table_rule='[{"cidrBlock":"0.0.0.0/0","networkEntityId":"ocid1.internetgateway.oc1"}]'
vcn_public_subnet_name="Public subnet"
vcn_public_subnet_cidr="172.16.0.0/24"

vcn_private_security_list_name="Private subnet - security list"
vcn_private_security_list_egress='[]'
vcn_private_security_list_ingress='[]'
vcn_private_security_list_ids='[]'
vcn_private_route_table_name="Private subnet - route table"
vcn_private_route_table_rule='[]'
vcn_private_subnet_name="Private subnet"
vcn_private_subnet_cidr="172.16.1.0/24"


object_storage_bucket_name="Resources"


instance_name="spark"
instance_shape="VM.Standard.E2.1.Micro"
instance_image_name="Oracle Cloud Developer Image"
instance_cloud_init_file_name="spark.sh"
